USE [master]
GO
/****** Object:  Database [Bank]    Script Date: 25.12.2019 11:54:58 ******/
CREATE DATABASE [Bank]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'newBD', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\newBD.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'newBD_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\newBD_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Bank].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Bank]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 25.12.2019 11:54:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 25.12.2019 11:54:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FIO] [nvarchar](max) NULL,
	[Npasporta] [int] NOT NULL,
	[Serpasporta] [int] NOT NULL,
	[Data_rog] [datetime] NOT NULL,
	[login] [nvarchar](max) NULL,
	[pasworld] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Clients] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Operaciis]    Script Date: 25.12.2019 11:54:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Operaciis](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Sum_In] [decimal](18, 2) NULL,
	[OutID] [int] NULL,
	[InID] [int] NULL,
	[Vneshcniy_Nscheta] [int] NULL,
	[Tip_operaziiID] [int] NULL,
	[Date] [datetime] NOT NULL,
	[SotrudnicID] [int] NULL,
	[StatusID] [int] NOT NULL,
	[Sum_Out] [decimal](18, 2) NULL,
 CONSTRAINT [PK_dbo.Operaciis] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Progs]    Script Date: 25.12.2019 11:54:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Progs](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Procent] [float] NOT NULL,
	[TipID] [int] NOT NULL,
	[dlitel_day_min] [int] NOT NULL,
	[dlitel_day_max] [int] NOT NULL,
	[min_Sum] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.Progs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Schets]    Script Date: 25.12.2019 11:54:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schets](
	[Nschet] [int] IDENTITY(1,1) NOT NULL,
	[Data_sozd] [datetime] NOT NULL,
	[Sum] [decimal](18, 2) NULL,
	[ProgID] [int] NULL,
	[ValuteID] [int] NOT NULL,
	[ClientID] [int] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Schets] PRIMARY KEY CLUSTERED 
(
	[Nschet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sotrudnics]    Script Date: 25.12.2019 11:54:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sotrudnics](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FIO] [nvarchar](max) NULL,
	[Dolgnost] [nvarchar](max) NULL,
	[Login] [nvarchar](max) NULL,
	[Paswoorld] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Sotrudnics] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Status]    Script Date: 25.12.2019 11:54:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Status] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Status_Scheta]    Script Date: 25.12.2019 11:54:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status_Scheta](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Status_Scheta] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tip_operacii]    Script Date: 25.12.2019 11:54:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tip_operacii](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Tip_operacii] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tips]    Script Date: 25.12.2019 11:54:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tips](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Tips] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Valutes]    Script Date: 25.12.2019 11:54:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Valutes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Otnoshenie_k_rub_prod] [float] NOT NULL,
	[Otnoshenie_k_rub_pok] [float] NOT NULL,
 CONSTRAINT [PK_dbo.Valutes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Index [IX_SotrudnicID]    Script Date: 25.12.2019 11:54:58 ******/
CREATE NONCLUSTERED INDEX [IX_SotrudnicID] ON [dbo].[Operaciis]
(
	[SotrudnicID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_StatusID]    Script Date: 25.12.2019 11:54:58 ******/
CREATE NONCLUSTERED INDEX [IX_StatusID] ON [dbo].[Operaciis]
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TipID]    Script Date: 25.12.2019 11:54:58 ******/
CREATE NONCLUSTERED INDEX [IX_TipID] ON [dbo].[Progs]
(
	[TipID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ClientID]    Script Date: 25.12.2019 11:54:58 ******/
CREATE NONCLUSTERED INDEX [IX_ClientID] ON [dbo].[Schets]
(
	[ClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProgID]    Script Date: 25.12.2019 11:54:58 ******/
CREATE NONCLUSTERED INDEX [IX_ProgID] ON [dbo].[Schets]
(
	[ProgID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ValuteID]    Script Date: 25.12.2019 11:54:58 ******/
CREATE NONCLUSTERED INDEX [IX_ValuteID] ON [dbo].[Schets]
(
	[ValuteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Operaciis]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Operaciis_dbo.Sotrudnics_SotrudnicID] FOREIGN KEY([SotrudnicID])
REFERENCES [dbo].[Sotrudnics] ([ID])
GO
ALTER TABLE [dbo].[Operaciis] CHECK CONSTRAINT [FK_dbo.Operaciis_dbo.Sotrudnics_SotrudnicID]
GO
ALTER TABLE [dbo].[Operaciis]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Operaciis_dbo.Status_StatusID] FOREIGN KEY([StatusID])
REFERENCES [dbo].[Status] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Operaciis] CHECK CONSTRAINT [FK_dbo.Operaciis_dbo.Status_StatusID]
GO
ALTER TABLE [dbo].[Operaciis]  WITH CHECK ADD  CONSTRAINT [FK_Operaciis_Schets] FOREIGN KEY([InID])
REFERENCES [dbo].[Schets] ([Nschet])
GO
ALTER TABLE [dbo].[Operaciis] CHECK CONSTRAINT [FK_Operaciis_Schets]
GO
ALTER TABLE [dbo].[Operaciis]  WITH CHECK ADD  CONSTRAINT [FK_Operaciis_Schets1] FOREIGN KEY([OutID])
REFERENCES [dbo].[Schets] ([Nschet])
GO
ALTER TABLE [dbo].[Operaciis] CHECK CONSTRAINT [FK_Operaciis_Schets1]
GO
ALTER TABLE [dbo].[Operaciis]  WITH CHECK ADD  CONSTRAINT [FK_Operaciis_Tip_operacii] FOREIGN KEY([Tip_operaziiID])
REFERENCES [dbo].[Tip_operacii] ([ID])
GO
ALTER TABLE [dbo].[Operaciis] CHECK CONSTRAINT [FK_Operaciis_Tip_operacii]
GO
ALTER TABLE [dbo].[Progs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Progs_dbo.Tips_TipID] FOREIGN KEY([TipID])
REFERENCES [dbo].[Tips] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Progs] CHECK CONSTRAINT [FK_dbo.Progs_dbo.Tips_TipID]
GO
ALTER TABLE [dbo].[Schets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Schets_dbo.Clients_ClientID] FOREIGN KEY([ClientID])
REFERENCES [dbo].[Clients] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Schets] CHECK CONSTRAINT [FK_dbo.Schets_dbo.Clients_ClientID]
GO
ALTER TABLE [dbo].[Schets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Schets_dbo.Progs_ProgID] FOREIGN KEY([ProgID])
REFERENCES [dbo].[Progs] ([ID])
GO
ALTER TABLE [dbo].[Schets] CHECK CONSTRAINT [FK_dbo.Schets_dbo.Progs_ProgID]
GO
ALTER TABLE [dbo].[Schets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Schets_dbo.Valutes_ValuteID] FOREIGN KEY([ValuteID])
REFERENCES [dbo].[Valutes] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Schets] CHECK CONSTRAINT [FK_dbo.Schets_dbo.Valutes_ValuteID]
GO
USE [master]
GO
